


.green {
   
    background-color: #469BAF;
  }
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.orange 
{
  color: #FF7E24;
}
.gray
{
  background-color: #f1f1f1;
}
.bg-white
{
  background-color: white;
}
.booking-btn
{
  border: 1px solid #FF7E24;
  background-color: #FF7E24;
  border-radius: 10px;
  padding: 5px 18px;
}

